.post-media {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espace entre les images */
    margin-top: 10px;
}

.post-media img {
    width: 100px; /* Ajuste selon ton design */
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.more-images-overlay {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.post-media img.more-images {
    position: relative;
}

.post-media img.more-images::after {
    content: "+" attr(data-remaining); /* Affiche le nombre d'images restantes */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}


.like-btn {
    color: grey;
    cursor: pointer;
}
.like-btn.liked {
    color: red;
}



.modal {
    
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    position: relative;
    margin: auto;
    
    padding: 20px;
    max-width: 70%;
    max-height: 70%;
    overflow-y: auto;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}

#modal-images img {
    max-width: 100%;
    max-height: 80vh;
    margin: 10px;
    border-radius: 8px;
}